
/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #5f92d4;
  --secondary-color:              #fae0cd;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #5f92d4;
  --custom-btn-bg-hover-color:    #FDBB2D;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #7fffd4;
  --link-hover-color:             #B22727;

  /* FONT DIGANTI KE MONTSERRAT */
  --body-font-family:             'Montserrat', sans-serif;

  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  20px;
  --btn-font-size:                16px;
  --copyright-font-size:          14px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-thin:             200;
  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
h2, h3, h4, h5, h6 { color: var(--dark-color); font-weight: var(--font-weight-bold); }
h1 { font-size: var(--h1-font-size); font-weight: var(--font-weight-bold); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }
h4 { font-size: var(--h4-font-size); }
h5 { font-size: var(--h5-font-size); }
h6 { font-size: var(--h6-font-size); }

p, ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, button { touch-action: manipulation; transition: all 0.3s; }
a { display: inline-block; color: var(--primary-color); text-decoration: none; }
a:hover { color: var(--link-hover-color); }
b, strong { font-weight: var(--font-weight-bold); }

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding { padding: 100px 50px; }
.section-bg { background-color: var(--section-bg-color); }

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0.45;
  pointer-events: none;
}

.section-overlay + .container { position: relative; }

/*---------------------------------------
  CUSTOM BLOCK (RECO'S PORTOFOLIO HOVER)               
-----------------------------------------*/
.custom-block-bg-overlay-wrap {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  transition: all 0.3s ease;
}

/* GRADASI HITAM DAN BIRU #071266 SAAT HOVER */
.custom-block-bg-overlay-wrap:hover {
  background: linear-gradient(90deg, #000000 0%, #071266 100%);
  transform: scale(1.05);
}

.custom-block-bg-overlay-image {
  border-radius: var(--border-radius-medium);
  display: block;
  margin: auto;
  height: 100%;
  object-fit: cover;
  transform: rotate(8deg);
}

.custom-block-bg-overlay-wrap:hover .team-info { bottom: 10px; }

/*---------------------------------------
  HERO SECTION (KEMBALI KE ASLI)
-----------------------------------------*/
.hero-section {
  background-image: url('../images/Teratai.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 50px;
  min-height: 665px;
  border-bottom: 15px solid
